<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Website</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body onload="author_list()">
    <h1>Welcome to Abraca-Data!</h1>
    <h2>Articles</h2>
    <form>
      <fieldset>
        <legend><b>Top Trending Authors</b></legend>
        <ol>
          <li id="rank1"></li>
          <li id="rank2"></li>
          <li id="rank3"></li>
        </ol>
      </fieldset>
    </form>
    <form>
      <fieldset>
        <legend><b>Login</b></legend>
        <p>Log in if you would like personalized recommendations!</p>
        <p>
          <label>What is your <b>username</b>?</label>
          <input type = "text"
                 id = "myText81"
                 value = "" />
        </p>
        <button type="button" onclick="login()">Login</button>
        <p id="demo1"></p>
      </fieldset>
    </form>
    <form>
      <fieldset>
        <legend><b>Insert New Article</b></legend>
        <p>
          <label>What is the <b>name</b> of the article?</label>
          <input type = "text"
                 id = "myText11"
                 value = "" />
        </p>
        <p>
          <label>What is the <b>name</b> of the author?</label>
          <input type = "text"
                 id = "myText12"
                 value = "" />
        </p>
        <p>
          <label>What is the <b>affiliation</b>?</label>
          <input type = "text"
                 id = "myText13"
                 value = "" />
        </p>
        <p>
          <label>What is the <b>Journal Name</b>?</label>
          <input type = "text"
                 id = "myText14"
                 value = "" />
        </p>
        <p>
          <label>What is the <b>publication year</b>?</label>
          <input type = "text"
                 id = "myText15"
                 value = "" />
        </p>
        <p>
          <label>What is the <b>publication url</b>?</label>
          <input type = "text"
                 id = "myText16"
                 value = "" />
        </p>
        <p>
          <label>How many times has this article been <b>cited</b>?</label>
          <input type = "text"
                 id = "myText17"
                 value = "" />
        </p>
        <button type="button" onclick="insert()">Insert</button>
      </fieldset>
    </form>
    <form>
      <fieldset>
        <legend><b>Search For Article</b></legend>
        <p>Search by: </p>
        <label class="container">Article ID
          <input type="radio" checked="checked" name="radio">
          <span class="checkmark"></span>
        </label>
        <label class="container">Author
          <input type="radio" name="radio">
          <span class="checkmark"></span>
        </label>
        <label class="container">University
          <input type="radio" name="radio">
          <span class="checkmark"></span>
        </label>
        <label class="container">Title
          <input type="radio" name="radio" value="1">
          <span class="checkmark"></span>
        </label>
        <label class="container">Year
          <input type="radio" name="radio">
          <span class="checkmark"></span>
        </label>
        <label class="container">Journal
          <input type="radio" name="radio">
          <span class="checkmark"></span>
        </label>
        <label class="container">Field
          <input type="radio" name="radio">
          <span class="checkmark"></span>
        </label>
        <p>
          <input type = "text"
                 id = "myText4"
                 value = "" />
        </p>
        <button type="button" onclick="myFunction()">Search</button>
      </fieldset>
    </form>
    <form>
      <fieldset>
        <legend><b>Update Article</b></legend>
        <p>
          <label>What is the <b>Article ID</b>?</label>
          <input type = "text"
                 id = "myText5"
                 value = "" />
        </p>
        <p>What would you like to <b>update?</b></p>
        <label class="container">Number of citations
          <input type="radio" checked="checked" name="radio1">
          <span class="checkmark"></span>
        </label>
        <label class="container">Publication URL
          <input type="radio" name="radio1">
          <span class="checkmark"></span>
        </label>
        <label class="container">Journal Name
          <input type="radio" name="radio1">
          <span class="checkmark"></span>
        </label>
        <p>
          <label>What is the <b>new value</b>?</label>
          <input type = "text"
                 id = "myText7"
                 value = "" />
        </p>
        <button type="button" onclick="update()">Update</button>
      </fieldset>
    </form>
    <form>
      <fieldset>
        <legend><b>Delete Article</b></legend>
        <p>
          <label>What is the <b>Article ID</b>?</label>
          <input type = "text"
                 id = "myText8"
                 value = "" />
        </p>
        <button type="button" onclick = "delete2()">Delete</button>
      </fieldset>
    </form>
    <p id="demo"></p>
    <form id = "result_table"></form>
    <form>
      <fieldset>
        <legend><b>Personalized Recommendations</b></legend>
        <p>Recommendations based on:</p>
        <label class="container">Author
          <input type="radio" checked="checked" name="radio2">
          <span class="checkmark"></span>
        </label>
        <label class="container">Field
          <input type="radio" name="radio2">
          <span class="checkmark"></span>
        </label>
        <button type="button" onclick="personal_recommend()">Recommend</button>
      </fieldset>
    </form>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
      var user = "";
      function delete2() {
        var article_id = document.getElementById("myText8").value;

        $.post( "/delete", {
          id : article_id }).done(function(data) {
          var stat = data["status"];
          if(stat == "fail") {
            alert("ERROR: Could not delete")
          } else {
            alert(stat);
          }
        });

      }
      function myFunction() {
        var x = document.getElementById("myText4").value;
        var radios = document.getElementsByName('radio');
        var search_by = 0;
        for (var i = 0, length = radios.length; i < length; i++)
        {
         if (radios[i].checked)
         {
          search_by = i;
          alert(search_by);
          break;
         }
        }
        $.post( "/search", {
                value : x , by : search_by}).done(function(data) {
                  var stat = data["status"];
                  if(stat == "fail") {
                    alert("Error your article id does not exist");
                  } else {
                    alert("success");
                    //document.getElementById("result_table").innerHTML = data["data"]
                    var newwin = window.open("", "");
                    newwin.document.write(data["data"]);
                  }
        });

      }
      function insert() {
        var article_name = document.getElementById("myText11").value;
        var author_name = document.getElementById("myText12").value;
        var affiliation = document.getElementById("myText13").value;
        var journal_name = document.getElementById("myText14").value;
        var publication_year = document.getElementById("myText15").value;
        var publication_url = document.getElementById("myText16").value;
        var number_citations = document.getElementById("myText17").value;

        $.post( "/insert", {
                name : article_name , author : author_name , aff : affiliation , j_name : journal_name , pub_year : publication_year , pub_url : publication_url , num_citations : number_citations}).done(function(data) {
                  var stat = data["status"];
                  if(stat == "fail") {
                    alert("ERROR: Could not insert")
                  } else {
                    alert(stat);
                  }
        });

      }

      function update() {
        var x = document.getElementById("myText5").value;
        var radios = document.getElementsByName('radio1');
        var d = document.getElementById("myText7").value;
        var search_by = 0
        for (var i = 0, length = radios.length; i < length; i++)
        {
         if (radios[i].checked)
         {
          search_by = i;
          alert(search_by)
          break;
         }
        }
        $.post( "/update", {
                id : x , choice : search_by , value : d}).done(function(data) {
                  var stat = data["status"];
                  if(stat == "fail") {
                    alert("Error your article id does not exist")
                  } else {
                    alert("success");
                  }
        });

      }
      function login() {
        user = document.getElementById("myText81").value;
        document.getElementById("demo1").innerHTML = "Logged in as "+user;
        $.post( "/login", {
          username : user }).done(function(data) {
          var stat = data["status"];
          if(stat == "fail") {
            alert("ERROR: Could not create new account")
          } else {
            alert(stat);
          }
        });

      }
      function personal_recommend() {
        x = user
        var radios = document.getElementsByName('radio2');
        var search_by = 0;
        for (var i = 0, length = radios.length; i < length; i++)
        {
         if (radios[i].checked)
         {
          search_by = i;
          alert(search_by);
          break;
         }
        }
        $.post( "/recom", {
          username : x , by : search_by}).done(function(data) {
          var stat = data["status"];
          if(stat == "fail") {
            alert("ERROR: Could not create new account")
          } else {
            alert("success");
            var newwin = window.open("", "");
            newwin.document.write(data["data"]);
          }
        });

      }
      function author_list() {
        alert("hello")
        $.post( "/rank_author", {
          username : user }).done(function(data) {
          var stat = data["status"];
          if(stat == "fail") {
            alert("ERROR: Could not create new account")
          } else {
            var d = data["data"]
            document.getElementById("rank1").innerHTML = d[1];
            document.getElementById("rank2").innerHTML = d[2];
            document.getElementById("rank3").innerHTML = d[3];
            alert(stat);
          }
        });

      }
    </script>
  </body>
</html>
