<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Website</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <h1>Welcome to Abraca-Data!</h1>
    <h2>Articles</h2>
    <form>
      <fieldset>
        <legend><b>Insert New Article</b></legend>
        <p>
          <label>What is the <b>name</b> of the journal?</label>
          <input type = "text"
                 id = "myText1"
                 value = "" />
        </p>
        <p>
          <label>What is the <b>Article ID</b>?</label>
          <input type = "text"
                 id = "myText2"
                 value = "" />
        </p>
        <p>
          <label>What is the <b>Journal ID</b>?</label>
          <input type = "text"
                 id = "myText3"
                 value = "" />
        </p>
        <button type="button">Insert</button>
      </fieldset>
    </form>
    <form>
      <fieldset>
        <legend><b>Search For Article</b></legend>
        <p>Search by: </p>
        <label class="container">Article ID
          <input type="radio" checked="checked" name="radio">
          <span class="checkmark"></span>
        </label>
        <label class="container">Author
          <input type="radio" name="radio">
          <span class="checkmark"></span>
        </label>
        <label class="container">University
          <input type="radio" name="radio">
          <span class="checkmark"></span>
        </label>
        <label class="container">Title
          <input type="radio" name="radio" value="1">
          <span class="checkmark"></span>
        </label>
        <label class="container">Year
          <input type="radio" name="radio">
          <span class="checkmark"></span>
        </label>
        <label class="container">Journal
          <input type="radio" name="radio">
          <span class="checkmark"></span>
        </label>
        <label class="container">Field
          <input type="radio" name="radio">
          <span class="checkmark"></span>
        </label>
        <p>
          <input type = "text"
                 id = "myText4"
                 value = "" />
        </p>
        <button type="button" onclick="myFunction()">Search</button>
      </fieldset>
    </form>
    <form>
      <fieldset>
        <legend><b>Update Article</b></legend>
        <p>
          <label>What is the <b>Article ID</b>?</label>
          <input type = "text"
                 id = "myText5"
                 value = "" />
        </p>
        <p>
          <label>What is the <b>field</b> you'd like to update?</label>
          <input type = "text"
                 id = "myText6"
                 value = "" />
        </p>
        <p>
          <label>What is the <b>new value</b>?</label>
          <input type = "text"
                 id = "myText7"
                 value = "" />
        </p>
        <button type="button">Update</button>
      </fieldset>
    </form>
    <form>
      <fieldset>
        <legend><b>Delete Article</b></legend>
        <p>
          <label>What is the <b>Article ID</b>?</label>
          <input type = "text"
                 id = "myText8"
                 value = "" />
        </p>
        <button type="button">Delete</button>
      </fieldset>
    </form>
    <p id="demo"></p>
    <form id = "result_table"></form>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
      function myFunction() {
        var x = document.getElementById("myText4").value;
        var radios = document.getElementsByName('radio');
        var search_by = 0
        for (var i = 0, length = radios.length; i < length; i++)
        {
         if (radios[i].checked)
         {
          search_by = i;
          alert(search_by)
          break;
         }
        }
        $.post( "/search", {
                value : x , by : search_by}).done(function(data) {
                  var stat = data["status"];
                  if(stat == "fail") {
                    alert("Error your article id does not exist")
                  } else {
                    alert("success");
                    //document.getElementById("result_table").innerHTML = data["data"]
                    var newwin = window.open("", "");
                    newwin.document.write(data["data"]);
                  }
        });

      }
    </script>
  </body>
</html>
